* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    box-sizing: border-box;
}

.table-light {
    background-color: transparent !important;
}

th {
    width: 45%;
    background-color: transparent !important;
}

th:last-child {
    width: 10%;
}

.priority-Alta, .priority-Média, .priority-Baixa {
    width: 50px;
    text-align: center;
    border-radius: 5px;
    color: #FFF;
}

.priority-Alta {
    background-color: #ff0015 !important;
}

.priority-Média {
    background-color: #ffc400 !important;
}

.priority-Baixa {
    background-color: #009c56 !important;
}